---

- name: Replication configuration
  mongodb_replicaset:
    build_indexes: "{{ item.build_indexes|default(omit) }}"
    login_host: "{{ mongodb_login_host|default('localhost') }}"
    login_port: "{{ mongodb_login_port|default(27017) }}"
    login_user: "{{ mongodb_root_admin_name }}"
    login_password: "{{ mongodb_root_admin_password }}"
    replica_set: "{{ mongodb_replication_replset }}"
    validate: no
    members:
      - pritunl-db-1:27017
      - pritunl-db-2:27017
      - pritunl-db-3:27017
  when: mongodb_security_authorization == 'enabled'
  with_items:
    - "{{ mongodb_replication_params|default([]) }}"

- name: Replication configuration without auth on master
  mongodb_replicaset:
    build_indexes: "{{ item.build_indexes|default(omit) }}"
    login_host: "{{ mongodb_login_host|default('localhost') }}"
    login_port: "{{ mongodb_login_port|default(27017) }}"
    replica_set: "{{ mongodb_replication_replset }}"
    members:
      - pritunl-db-1:27017
      - pritunl-db-2:27017
      - pritunl-db-3:27017

  when: ( mongodb_security_authorization == 'disabled'
        and mongodb_master is defined and mongodb_master )
  with_items:
    - "{{ mongodb_replication_params|default([]) }}"

- name: Replication configuration without auth on replicas and arbiters
  mongodb_replicaset:
    build_indexes: "{{ item.build_indexes|default(omit) }}"
    login_host: "{{ mongodb_login_host|default('localhost') }}"
    login_port: "{{ mongodb_login_port|default(27017) }}"
    replica_set: "{{ mongodb_replication_replset }}"
    arbiter_at_index: 2
    election_timeout_secs: 1200
    members:
      - pritunl-db-1:27017
      - pritunl-db-2:27017
  when: ( mongodb_security_authorization == 'disabled'
        and ( mongodb_master is not defined or not mongodb_master) )
  with_items:
    - "{{ mongodb_replication_params|default([]) }}"

